<!-- <h2>The Post Create Component</h2> -->
<!-- <textarea rows="6" [value]="newPost" #postInput></textarea>
<button (click)="onAddPost(postInput)">Save Post</button>
-->
<!-- Two Way Binding Example -->
<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <!-- <input matInput type="text" [(ngModel)]="enteredTitle" /> -->
      <input
        matInput
        type="text"
        name="title"
        ngModel
        required
        minlength="4"
        placeholder="Post Title"
        #title="ngModel"
      />
      <mat-error *ngIf="title.invalid">Please enter a post title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        color="accent"
        rows="4"
        name="content"
        ngModel
        required
        minlength="10"
        placeholder="Post Content"
        #content="ngModel"
      ></textarea>
      <mat-error *ngIf="content.invalid">Please enter a post</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">
      Save Post
    </button>
  </form>
</mat-card>

<!-- <p>{{ newPost }}</p> -->
<!-- <textarea
      matInput
      color="accent"
      rows="6"
      [(ngModel)]="enteredContent"
    ></textarea> -->
<!-- [(ngModel)]="enteredValue" -->
<!-- 2way binding -->
<!-- <input matInput type="text" [(ngModel)]="enteredTitle" /> -->
<!-- <textarea
matInput
color="accent"
rows="6" 
[(ngModel)]="enteredContent"
></textarea> -->
